cd4ml-workshop/*
nginx/*
.venv/*
.vscode/*
**/.DS_Store
python/*.venv
data/raw/*
python/data/source/*
python/data/splitter/*
python/results/*
data
.coverage
.idea/
cov_html/
notes.txt
**/__pycache__/*
venv
admin_password
results
*.prof

