<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {{ header_text }}
    </head>
    <body>
        <div class="container">

            {{ form_div }}

            <div class="container">

                <h3> Prediction </h3>

                <div class="col-md-6" style="border: 1px solid; font-weight: bold;">
                    Prediction: {{ prediction }}
                    <p></p>
                </div>

            </div>
        </div>
    <p></p>
    </body>
</html>
