<!doctype html>
<html lang="en">
    {% set title = 'Welcome to the CD4ML Scenario Picker' %}
    {% include "partials/_head.html" %}
    {% include "partials/_navbar.html" %}
    <body>
        <div class="container">
            <div class="row"><h2>Welcome! Select the scenario you want to try!</h2></div>
              <div class="row">
                <div class="col-lg-6">
                  <img class="mx-auto d-block" src="/static/groceries.png" alt="Groceries Scenario Image" width="200" height="200">
                  <h2>Sales Forecasting Scenario</h2>
                  <p>Predict the amount of a product required to order on a particular date</p>
                  <p><a class="btn btn-primary" href="/groceries/latest" role="button">Use latest valid model »</a></p>
                  <p><a class="btn btn-secondary" href="/groceries/models" role="button">View All Models »</a></p>
                </div>
                <div class="col-lg-6">
                  <img class="mx-auto d-block" src="/static/houses.png" alt="Houses Scenario Image" width="200" height="200">
                  <h2>Housing Price Prediction Scenario</h2>
                  <p>Prediction the difference between the actual price of a house and the suggested price</p>
                  <p><a class="btn btn-primary" href="/houses/latest" role="button">Use latest valid model »</a></p>
                  <p><a class="btn btn-secondary" href="/houses/models" role="button">View All Models »</a></p>
                </div>
              </div>
        </div>
    </body>
</html>
