<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <title>Available models</title>

    </head>
    <body>
        <div class="container">

            <div class="container">

                <h3> Available Models </h3>

                <table class="table">
                    <thead>
                        <th>Number</th>
                        <th>Problem</th>
                        <th>ML pipeline</th>
                        <th>Feature set</th>
                        <th>Algorithm name</th>
                        <th>Algorithm params name</th>
                    </thead>

                    <tbody>

                        {% for row in rows %}
                            <tr>
                                <td><a href={{ row['url'] }}> {{row['num']}} </a></td>
                                <td>{{ row['problem_name'] }}</td>
                                <td>{{ row['ml_pipeline_params_name'] }}</td>
                                <td>{{ row['feature_set_name'] }}</td>
                                <td>{{ row['algorithm_name'] }}</td>
                                <td>{{ row['algorithm_params_name'] }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    <p></p>
    </body>
</html>
